body {
    alink: blue;
    vlink: red;
    padding: 15px;
}

.app-container {
    padding: 10px
}

.description {
    width: 800px;
    height: 150px;
}

.controls-options {}

.options-card {
    width: 800px;
    height: 80px;
    background-color: whitesmoke;
}

.controls-card {
    width: 800px;
    height: 80px;
}

.main-content {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    display: flex;
    /*flex-direction: column;*/
}

.content-card {
    width: 500px;
    height: 500px;
}

#matrix {}

#progress {
    overflow-y: auto;
    /*fixed overflowing down*/
}


/*table
        not necesassirly tue;*/

#status {
    position: sticky;
    top: 0;
}

.results {
    /*display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;*/
}

.results-card {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
}


/*traversal and animations related quicks*/

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
}

.scan {
    box-shadow: blue 3px 3px 6px 2px, blue -3px -3px 6px 2px;
}

.empty-cell {
    /*background-color: yellow;*/
    background-color: rgb(255, 0, 0);
}


/*
        table data and all
        //1. label .lbl
        //each addition to table row col two should be designed this way
        added one by one and while being added the yellow mark should pause and let them be synchronize upon finsihing when tranfering or removing the first lable and adding it to the cell
        the animation should clearly shwcase this 
        if possible frmat the js code into a class i deirectly tranlatded it from java
        */

.lbl {
    border: 2px solid black;
    width: 40px;
    height: 40px;
}